﻿@using FizzBuzz.HtmlHelpers
@model FizzBuzz.Models.FizzBuzz
@{
    ViewBag.Title = "Fizbuzz";
}


<br />
@using (Html.BeginForm("Fizzbuzz", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="col-md-1"></div>
    <div id="col-md-4">

    </div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InputNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.InputNumber, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.InputNumber, "", new { @class = "text-danger" })
                <p style="color:red" id="validationMessage"></p>
            </div>

        </div>
        <div class="form-group" id="button-margin">
            <input type="submit" value="Create" class="btn btn-default" id="button-validate" />
        </div>

    </div>
}
@if (Model != null && Model.DisplayList != null)
{
    <div class="container">

        <div class="container">
            <div class="col-md-4">
                <ul>
                    @foreach (var item in Model.DisplayList)
                    {
                        <li>
                            @Html.FizzBuzzValueBuilder(item)
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="col-md-1">
                @if (Model.DisplayList.HasPreviousPage)
                {
                    @Html.ActionLink("Prev", "GetPages", new { inputNumber = Model.InputNumber, pageNumber = Model.PageNumber, linkValue = -1 }, new { @class = "button-custom" })
                }
            </div>
            <div class="col-md-offset-0 col-md-1">
                @if (Model.DisplayList.HasNextPage)
                {
                    @Html.ActionLink("Next", "GetPages", new { inputNumber = Model.InputNumber, pageNumber = Model.PageNumber, linkValue = +1 }, new { @class = "button-custom" })
                }
            </div>


        </div>
    </div>
}